<ion-header>
  <ion-toolbar slot="start">
    <ion-title>NÚMERO CELULAR</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/ingreso']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <app-navigation-menu currentPage="telefono"></app-navigation-menu>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container_tel">
    <div class="icon_Oink">
      <img src="../../assets/icon/Oink.svg" class="logo" alt="Logo" />
      <p class="instruction">
        Para comenzar, por favor ingresa <strong>tu número celular.</strong>
      </p>
    </div>
    <span></span>
    
      <ion-input
        [value]="phoneNumber" readonly placeholder="(XXX - XXXXXX)" 
        max="10"
        min="10"
        required="true"
        ></ion-input>
    
    <div class="error-message" *ngIf="!isPhoneNumberValid && phoneNumber.length > 0">
      El número de teléfono debe tener 10 caracteres.
    </div>


    <div class="number-pad">
      @for (number of numbers; track number.id) {
      <button class="number-button" (click)="addNumber(number.value)">{{number.value}}</button>
      }
      <button (click)="deleteNumber()" class="number-button">
        <ion-icon style="color: #004B40; font-size: 4.5rem; margin-left: -.1rem;" name="backspace-outline"></ion-icon>
      </button>
      <button (click)="addNumber(0)" class="number-button">0</button>
      <button [disabled]="!isPhoneNumberValid" style="height: 4.5rem; width: 4.5rem; border-radius: 50%; margin-left: 20%;"
        [ngStyle]="{'background-color': isPhoneNumberValid === true ? '#1EEB00' : '#757575'}" (click)="submitNumber()"
        class="number-button">
        <ion-icon style="color: #fff;" name="checkmark-outline"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>