ion-icon {
  color: #1EEB00;
}

ion-title {
  color: #004B40;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.instruction {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}


.phone-input {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.number-pad {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7rem;
}

.number-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #004B40;
  background-color: transparent;
  font-weight: bold;
}

.icon_Oink {
  display: flex;
  flex-direction: row;
}

span {
  display: flex;
  width: 100%;
  height: .1rem;
  padding-top: .1rem;
  background-color: #1EEB00;
  margin-bottom: 2rem;
}

ion-input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}