ion-icon {
  color: #1EEB00;
}

ion-title {
  color: #004B40;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.container_tel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.icon_Oink{
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
}
.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

p{
  color: #757575;
  font-size: 18px;

}


.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  width: 100%; 
  margin: 0 auto;
}



.number-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #004B40;
  background-color: transparent;
  font-weight: bold;
}


span {
  display: flex;
  width: 100%;
  height: .1rem;
  padding-top: .1rem;
  background-color: #1EEB00;
  margin-bottom: 2rem;
}

ion-input{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  color: #AAAAAA;
  margin-bottom: 5rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  box-shadow: rgba(112, 112, 112, 0.228) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}