
<div class="container">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
        <ion-icon name="logo-ionic"></ion-icon>
        <ion-icon name="logo-ionic" size="large"></ion-icon>
        <ion-icon name="logo-ionic" color="primary"></ion-icon>
        <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
      </ion-buttons>
      <ion-title>Número Celular</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <img src='../../assets/icon/Componente 1 – 3.svg' alt="">
  <p>LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</p>
  <div class="container__buttons">
    <button class="registro">REGÍSTRATE</button>
    <button class="ingreso">INGRESA</button>
  </div>
</div>


