.navigation-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    ion-button {
      --background: transparent;
    }
  
    ion-icon {
      font-size: 24px;
    }
  }
  