<ion-header>
  <ion-toolbar slot="start">
    <ion-title>DATOS DE CUENTA</ion-title>
    <ion-buttons slot="start">
      <ion-button [disabled]="!registerForm" [routerLink]="['/telefono']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <app-navigation-menu currentPage="registro"></app-navigation-menu>
  </ion-toolbar>
</ion-header>

<div class="spinner" >
  <ion-spinner style="width: 10rem; height: 4rem;" *ngIf="isLoading"></ion-spinner>
</div>
<ion-content>
  <div class="container">
    <div class="icon_Oink">
      <img src="../../assets/icon/Oink-M.svg" class="logo" alt="Logo" />
      <div>
        <h4>
          ¿CUÁLES SON TUS DATOS?
        </h4>
        <p>Ahora necesitamos saber algunos datos tuyos</p>
      </div>

    </div>
    <span></span>
    <div class="info">Documento de identidad</div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <!-- <ion-item>
          <ion-select formControlName="tipoDocumento" label="Tipo de documento" label-placement="floating"
            interface="popover" placeholder="Tipo de documento">

            @for (doc of documentTypes; track doc.id) {
              <ion-select-option value={{doc.description}}>{{doc.description}}</ion-select-option>
            }
          </ion-select>
        </ion-item> -->
        
        <div class="selects">
          <label for="tipoDocumento">Tipo de documento</label>
          
          <select *ngIf="!isLoading && documentTypes && documentTypes.length>0" formControlName="tipoDocumento" id="tipoDocumento" placeholder="Tipo de documento">
            @for (doc of documentTypes; track doc.id) {
              <option [value]="doc.description">{{doc.description}}</option>
            }
          </select>
          <ion-spinner *ngIf=""></ion-spinner>
        </div>
        <ion-item
          *ngIf="registerForm.get('tipoDocumento')?.errors?.['required'] && registerForm.get('tipoDocumento')?.touched">
          <label>El tipo de documento es requerido</label>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-input  type="number" formControlName="numeroDocumento" label="Número de documento" labelPlacement="floating"
          placeholder="Número de documento"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('numeroDocumento')?.errors?.['required'] && registerForm.get('numeroDocumento')?.touched">
        <label>El número de documento es requerido</label>
      </ion-item>

      <ion-item>
        <ion-input type="date" formControlName="fechaExpedicion" label="Fecha de expedición del documento"
          labelPlacement="floating" placeholder="Fecha de expedición del documento"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('fechaExpedicion')?.errors?.['required'] && registerForm.get('fechaExpedicion')?.touched">
        <label>La fecha de expedición es requerida</label>
      </ion-item>

      <ion-item>
        <ion-input type="date" formControlName="fechaNacimiento" label="Fecha de nacimiento" labelPlacement="floating"
          placeholder="Fecha de nacimiento"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('fechaNacimiento')?.errors?.['required'] && registerForm.get('fechaNacimiento')?.touched">
        <label>La fecha de nacimiento es requerida</label>
      </ion-item>

      <ion-list>
        <!-- <ion-item>
          <ion-select formControlName="genero" label="Genero" label-placement="floating" interface="popover"
            placeholder="Genero">
            <ion-select-option value="apples">Femenino</ion-select-option>
            <ion-select-option value="oranges">Masculino</ion-select-option>
          </ion-select>
        </ion-item> -->

        <div class="selects">
          <label for="genero">Genero</label>
          <select id="genero" formControlName="genero" placeholder="yesid">
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
          </select>
        </div>
        <ion-item *ngIf="registerForm.get('genero')?.errors?.['required'] && registerForm.get('genero')?.touched">
          <label>El género es requerido</label>
        </ion-item>
      </ion-list>

      <div class="info">Configura tu cuenta</div>

      <ion-item>
        <ion-input formControlName="correoElectronico" label="Correo electrónico" labelPlacement="floating"
          placeholder="Correo electrónico"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('correoElectronico')?.errors?.['required'] && registerForm.get('correoElectronico')?.touched">
        <label>El correo electrónico es requerido</label>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('correoElectronico')?.errors?.['email'] && registerForm.get('correoElectronico')?.touched">
        <label>Formato de correo electrónico incorrecto</label>
      </ion-item>

      <ion-item>
        <ion-input formControlName="confirmarCorreo" label="Confirmar correo electrónico" labelPlacement="floating"
          placeholder="Confirmar correo electrónico"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('confirmarCorreo')?.errors?.['required'] && registerForm.get('confirmarCorreo')?.touched">
        <label>La confirmación del correo es requerida</label>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('confirmarCorreo')?.errors?.['email'] && registerForm.get('confirmarCorreo')?.touched">
        <label>Formato de correo electrónico incorrecto</label>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('confirmarCorreo')?.errors?.['mustMatch'] && registerForm.get('confirmarCorreo')?.touched">
        <label>Los correos electrónicos no coinciden</label>
      </ion-item>

      <ion-item>
        <ion-input formControlName="pinSeguridad" type="number" label="PIN de seguridad" labelPlacement="floating"
          placeholder="PIN de seguridad">
          <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('pinSeguridad')?.errors?.['required'] && registerForm.get('pinSeguridad')?.touched">
        <label>El PIN de seguridad es requerido</label>
      </ion-item>

      <ion-item>
        <ion-input formControlName="confirmarPinSeguridad" type="number" label="Confirmar PIN de seguridad"
          labelPlacement="floating" placeholder="Confirmar PIN de seguridad">
          <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('confirmarPinSeguridad')?.errors?.['required'] && registerForm.get('confirmarPinSeguridad')?.touched">
        <label>La confirmación del PIN es requerida</label>
      </ion-item>
      <ion-item
        *ngIf="registerForm.get('confirmarPinSeguridad')?.errors?.['mustMatch'] && registerForm.get('confirmarPinSeguridad')?.touched">
        <label>Los PINs de seguridad no coinciden</label>
      </ion-item>

      <button type="submit" [disabled]="!registerForm" [ngStyle]="{'background-color': registerForm.valid === true ? '#1EEB00' : '#EEEEEE',
    'color': registerForm.valid === true ? '#004B40' : '#757575'
  }">SIGUIENTE</button>
    </form>
  </div>

</ion-content>