ion-icon{
    color: #1EEB00;
}

p{
    color: #004B40;
    font-size: 18px;
    display: flex;
    font-weight: bold;
}
i{
  margin-bottom: 2rem;
}

ion-buttons{
  display: flex;
  flex-direction: column;
}

